body {
    font-family: arial, sans-serif;
}

.table {
    width: 100%;
    table-layout:fixed;
}
  
.table-cell {
    text-align: left;
    padding: 8px;
}
  
.table-row:nth-child(even) {
    background-color: #dddddd;
}
  
.table-cell { 
    white-space: pre-wrap 
}

input.query, input.replacement {
    width: 99.5%;
}

input.path {
    width: 49.4%;
}

button {
    margin: 1%;
}